MONGODB_URI=
PORT=5000
CLIENT_ORIGIN=http://localhost:5173
CLIENT_DIST=../client/dist
PORTFOLIO_OWNER_NAME=Kavad Rushi
PORTFOLIO_TITLE=MERN Stack Developer
GITHUB_URL=https://github.com/kavadrushi01-source
LINKEDIN_URL=https://linkedin.com/in/kavad-rushi-b24484411
WHATSAPP_NUMBER=919328581846